<body style="font-family: Arial;">
    <div style="width:100%; padding: 0 !important">
        <div class="col-md-6">
            <h5 style="font-weight: bold">[Description]</h5>
            <h5 style="font-weight: bold">[AddressBranch]</h5>
        </div>
        <br>
        <div class="col-md-12" style="padding: 0; margin:0">
            <!--<table cellpadding='0' cellspacing='5px'>
                <tbody>
                <tr>
                    <th style="font-weight: bold;width: 100% !important; font-size: 20px; text-align: center; padding-right: 50px">PHIẾU THU</th>
                </tr>
                </tbody>
            </table>-->
            <div class="col-md-12">
                <div style="padding-left: 285px;font-weight: bold;width: 100% !important; font-size: 20px; color: red"><span>PHIẾU THU</span></div>
            </div>
        </div>
        <div class="col-md-12">
            <div style="padding-left: 255px"><h5 style="font-style:italic;font-size: 13px">Ngày [CreateDate] Tháng [CreateMonth] Năm [CreateYear]</h5></div>
        </div>
        <br />
        <div class="col-md-12" style="text-align: right; top: -70px;right: 20px">Số phiếu:<span style="font-weight: bold"> [Code]</span></div>
        <div class="col-md-9" style="padding-top: -30px">
            <table class="table table-bordered" cellpadding='0' cellspacing='5px' style="padding-left: 5px">
                <tbody>
                <tr>
                    <th style="width: 18% !important; font-weight: bold;font-size: 13px"><span style="">&nbsp;Người nộp tiền</span></th>
                    <td style="font-weight: bold;font-size: 13px">&nbsp;[Payer]</td>
                </tr>
                <tr>
                    <th style="font-weight: bold;font-size: 13px">&nbsp;Địa chỉ</th>
                    <td style="font-size: 13px">&nbsp;[Address]</td>
                </tr>
                <tr>
                    <th style="background: #ccc"></th>
                    <td style="background: #ccc"></td>
                </tr>
                <tr>
                    <th style="font-weight: bold;font-size: 13px">&nbsp;Nội dung thu</th>
                    <td style="font-size: 13px">&nbsp;[Content]</td>
                </tr>
                <tr>
                    <th style="font-weight: bold;font-size: 13px">&nbsp;Số tiền</th>
                    <td style="font-weight: bold;font-size: 13px">&nbsp;[Price] &#32; [CurrencyCode]</td>
                </tr>
                <tr>
                    <th style="font-weight: bold;font-size: 13px">&nbsp;Bằng chữ</th>
                    <td style="font-size: 13px">&nbsp;[PriceString] đồng</td>
                </tr>
                <tr>
                    <th style="background: #ccc"></th>
                    <td style="background: #ccc"></td>
                </tr>
                <tr>
                    <th style="font-weight: bold;font-size: 13px">&nbsp;CODE</th>
                    <td style="font-weight: bold;font-size: 13px">&nbsp;[TicketCode]</td>
                </tr>
                </tbody>
            </table>
            <div class="col-md-12" style="padding-left: 0; padding-top: -10px">
                    <span style="font-style: italic; text-decoration: underline;font-size: 13px">Ghi chú:</span>
                    <span style="padding-left: 5px;font-size: 13px">&nbsp;[Note]</span>
            </div>
            <div class="col-md-12" style="padding-right: 0;padding-top: 5px;font-size: 13px">
                <table style="width: 100%;" cellpadding="5" cellspacing="3">
                    <tr>
                        <td style="font-weight: bold;font-size: 13px">Người lập phiếu</td>
                        <td style="font-weight: bold;font-size: 13px">Người nộp tiền</td>
                        <td style="font-weight: bold;font-size: 13px">Thủ quỹ</td>
                        <td style="font-weight: bold;font-size: 13px">Giám đốc</td>
                    </tr>
                </table>
            </div>
            <br>
            <br>
            <div class="col-md-12" style="padding-top: 10px;font-size: 13px"><h4 style="font-size: 13px">Thực thu:</h4></div>
        </div>
    </div>
</body>
